<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop 
        http://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- ajax切面类, 在执行controller下且返回Map方法时会自动打包成功或失败内容 -->
	<bean id="ajaxAspect" class="cn.c.core.aspect.AjaxAspect">
	   <!-- configure properties of aspect here as normal -->
	</bean>
	<aop:config>
		<aop:aspect id="controllerAspect" ref="ajaxAspect">
			<aop:pointcut id="ajaxAspectPointcut" expression="execution(java.util.Map cn.c..controller.*.*Ajax(..))"/>
			<!-- <aop:before pointcut-ref="ajaxAspectPointcut" method="startRecordLog"/> -->
			<!-- <aop:after-returning pointcut-ref="ajaxAspectPointcut" method="packageJson" returning="jsonMap"/> -->
			<!-- <aop:after-throwing pointcut-ref="ajaxAspectPointcut" method="packageJsonForThrowException" throwing="e"/> -->
			<aop:around pointcut-ref="ajaxAspectPointcut" method="packageByMap"/>
		</aop:aspect>

	</aop:config>

</beans>